<div class="login-wrapper">
  <a class="btn" ng-click="loginWithFb()"><i class="fa fa-facebook"></i>使用 facebook 登入</a>
  <div class="or">or</div>
  <form id="login-form">
    <label for="email"><i class="fa fa-user"></i>Email</label>
    <input id="email" name="email" type="email" placeholder="email">
    <label for="password"><i class="fa fa-lock"></i>Password</label>
    <input id="password" name="password" type="password" placeholder="password">
    <input id="submit" class="btn" type="submit" value="登入">
  </form>
</div>