<p>學習技術最好的方法，就是從做專案中學習，首先想想您的專案目標，讓我們提供最適合你的學習路徑。</p>
<h1>選擇你想要製作的專案</h1>
<h2 class="classify">
  平台
  
</h2>
<div class="classify-wrapper">
  <ul class="tag-list">
    <li class="tag-wrapper" ng-repeat="platform in platforms">
      <label for="{{platform.zh_tw}}" class="tag" ng-class="{active: platform.value}">{{platform.zh_tw}}</label>
      <input id="{{platform.zh_tw}}" name="web-platform" class="tag-input" type="checkbox" ng-init="platform.value=false" ng-model="platform.value">
    </li>
  </ul>
</div>
<h2 ng-show="platforms[0].value" class="classify">
  分類
  
</h2>
<div ng-show="platforms[0].value" class="classify-wrapper">
  <ul class="tag-list">
    <li class="tag-wrapper" ng-repeat="platform in platforms[0].classify">
      <label for="{{platform.zh_tw}}" class="tag" ng-class="{active: platform.value}">{{platform.zh_tw}}</label>
      <input id="{{platform.zh_tw}}" name="web-platform" class="tag-input" type="checkbox" ng-init="platform.value=false" ng-model="platform.value">
    </li>
  </ul>
</div>
<h2 ng-show="platforms[0].classify[0].value || platforms[0].classify[1].value || platforms[0].classify[2].value" class="classify">元素</h2>
<div ng-show="platforms[0].classify[0].value || platforms[0].classify[1].value || platforms[0].classify[2].value" class="classify-wrapper">
  <ul class="tag-list">
    <li class="tag-wrapper" ng-repeat="platform in components">
      <label for="{{platform.zh_tw}}" class="tag" ng-class="{active: platform.value}">{{platform.zh_tw}}</label>
      <input id="{{platform.zh_tw}}" name="web-platform" class="tag-input" type="checkbox" ng-init="platform.value=false" ng-model="platform.value">
    </li>
  </ul>
</div>
<div class="result-wrapper" ng-show="components[0].value || components[1].value || components[2].value || components[3].value">
  <ol>
    <li class="list-wrapper" ng-repeat="result in results">
      <div class="inner-result">
        <div class="title"><span class="order">{{$index+1}}</span>{{result.title}}</div>
        <a target="_blank" ng-href="{{result.link}}" class="icon-image-wrapper" style="margin-bottom: 1em;">
          <div class="icon-image-inner">
            <img show-img="" class="icon-image" ng-src="{{result.image}}">
          </div>
        </a>
        <label class="tag">{{result.rank}}</label>
        <label class="tag">{{result.price}}</label>
      </div>
    </li>
  </ol>
</div>
<article class="cheerup" ng-show="components[0].value || components[1].value || components[2].value || components[3].value">
  <p>學習完基礎課程，你已經有做出網頁的能力了，馬上開始做別遲疑，從做中學，你會進步的很快。有空多去<a target="_blank" href="http://week1.learning-path.info/#/8/1">社群</a>看看，與其他人切磋教學相長。</p>
  <h2>你可能還會需要</h2>
  <ul>
    <li><a target="_blank" href="http://week1.learning-path.info/#/7">實體課程</a></li>
    <li><a target="_blank" href="http://week1.learning-path.info/#/6">追蹤些東西</a></li>
  </ul>  
</article>